<main class="content">
    <h1 class="title new-item">New Category</h1>
    <form method="post" action="<?= $this->view->baseUrl ?>/category/add">
        <div class="input-field">
            <label for="category-name" class="label">Category Name</label>
            <input type="text" name="nome" id="nome" class="input-text"/>
        </div>
        <div class="input-field">
            <label for="category-code" class="label">Category Code</label>
            <input type="text" name="code" id="code" class="input-text"/>
        </div>
        <div class="actions-form">
            <a href="<?= $this->view->baseUrl ?>/category/" class="action back">Back</a>
            <input class="btn-submit btn-action" type="submit" value="Save"/>
        </div>
    </form>
</main>