<main class="content">
    <div class="header-list-page">
        <h1 class="title">Categories</h1>
        <a href="<?= $this->view->baseUrl ?>/category/add" class="btn-action">Add new Category</a>
    </div>
    <table class="data-grid">
        <tr class="data-row">
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Name</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Code</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Actions</span>
            </th>
        </tr>
        <?php
        /**
         * @var $categoria \app\model\entity\Category
         */
        foreach ($this->view->categorias as $categoria) {
            ?>
            <tr class="data-row">
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?= $categoria->getNome() ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?= $categoria->getCode() ?></span>
                </td>
                <td class="data-grid-td">
                    <div class="actions">
                        <a href="<?= $this->view->baseUrl ?>/category/edit?id=<?= $categoria->getId() ?>">
                            <div class="action edit"><span>Edit</span></div>
                        </a>
                        <a onclick="return confirm('Tem certeza que deseja deletar esta categoria?');"
                           href="<?= $this->view->baseUrl ?>/category/delete?id=<?= $categoria->getId() ?>">
                            <div class="action delete"><span>Delete</span></div>
                        </a>
                    </div>
                </td>
            </tr>
        <?php } ?>
    </table>
</main>