<main class="content">
    <h1 class="title new-item">Edit Product</h1>
    <form method="post" action="<?= $this->view->baseUrl ?>/product/edit">
        <input hidden value="<?= $this->view->product->getId() ?>" name="id" id="id">
        <div class="input-field">
            <label for="sku" class="label">Product SKU</label>
            <input type="text" value="<?= $this->view->product->getSku() ?>" name="sku" id="sku" class="input-text"/>
        </div>
        <div class="input-field">
            <label for="nome" class="label">Product Name</label>
            <input type="text" value="<?= $this->view->product->getNome() ?>" name="nome" id="nome" class="input-text"/>
        </div>
        <div class="input-field">
            <label for="preco" class="label">Price</label>
            <input type="text" value="<?= $this->view->product->getPreco() ?>" name="preco" id="preco"
                   class="input-text"/>
        </div>
        <div class="input-field">
            <label for="quantidade" class="label">Quantity</label>
            <input type="text" value="<?= $this->view->product->getQuantidade() ?>" name="quantidade" id="quantidade"
                   class="input-text"/>
        </div>
        <div class="input-field">
            <label for="categorias" class="label">Categories</label>
            <select multiple name="categorias[]" id="categorias" class="input-text">
                <?php foreach ($this->view->categorias as $categoria) { ?>
                    <option value="<?= $categoria->getId() ?>"><?= $categoria->getNome() ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="input-field">
            <label for="descricao" class="label">Description</label>
            <textarea id="descricao" name="descricao" class="input-text">
                <?= $this->view->product->getDescricao() ?>
            </textarea>
        </div>
        <div class="actions-form">
            <a href="<?= $this->view->baseUrl ?>/product/" class="action back">Back</a>
            <input class="btn-submit btn-action" type="submit" value="Save Product"/>
        </div>
    </form>
</main>