<main class="content">
    <div class="header-list-page">
        <h1 class="title">Products</h1>
        <a href="<?= $this->view->baseUrl ?>/product/add" class="btn-action">Add new Product</a>
    </div>
    <table class="data-grid">
        <tr class="data-row">
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Name</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">SKU</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Price</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Quantity</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Categories</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Actions</span>
            </th>
        </tr>
        <?php foreach ($this->view->produtos as $produto) { ?>
            <tr class="data-row">
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?= $produto->getNome() ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?= $produto->getSku() ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content">R$ <?= $produto->getPreco() ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?= $produto->getQuantidade() ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content">
                        <?php foreach ($produto->getCategorias() as $categoria) {
                           echo $categoria->getNome() . "<br>";
                        }?>
                    </span>
                </td>
                <td class="data-grid-td">
                    <div class="actions">
                        <a href="<?= $this->view->baseUrl ?>/product/edit?id=<?= $produto->getId() ?>">
                            <div class="action edit"><span>Edit</span></div>
                        </a>
                        <a onclick="return confirm('Tem certeza que deseja deletar este produto?');"
                           href="<?= $this->view->baseUrl ?>/product/delete?id=<?= $produto->getId() ?>">
                            <div class="action delete"><span>Delete</span></div>
                        </a>
                    </div>
                </td>
            </tr>
        <?php } ?>
    </table>
</main>